<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Trevor's Template Site</title>
  </head>
  <body>
	  <h1><a href="#">Trevor Ashworth</a></h1>
	  <div id="content">
	    <ol class="hatom">
	      <li>
	        <h2>Ice grind in Long Beach, CA</h2>
	        <div class="figure">
	          <img src="images/blog_photo.jpg" alt="Trevor" title="Trevor" width="484" height="329"/>
	          <p>Trevor Ashworth ice grind in Long Beach, CA. Photo By Joey Cobbs</p>
		      </div>
		      <p>It's that time of the week again. After sifting through many dialed photos, I finally picked out this week's eye candy. Freelance photographer Joey Cobbs snapped this scenic and rad looking ice pick of Trevor Ashworth in Long Beach, CA. Don't forget to go big and click on that bad boy to see it full size.</p>
			    Rider: Trevor Ashworth<br />
			    Age: 26<br />
			    Hometown: Orig: Albany, New York Currently: Long Beach, California<br />
			    Hookups: Volume Bikes, Demolition Parts, Micreation clothing<br /><br />
          <a href="#">Read Full Story</a>
			    <ul class="comment-options">
				    <li><a href="#">12 People have something to say</a></li>
				    <li class="last"><a href="#">Leave a comment</a></li>
				  </ul>
				</li>
        
        <li>
          <h2>I will Eat Your Young For Dinner</h2>
	        <div class="figure">
		      </div>
		      <p>It's that time of the week again. After sifting through many dialed photos, I finally picked out this week's eye candy. Freelance photographer Joey Cobbs snapped this scenic and rad looking ice pick of Trevor Ashworth in Long Beach, CA. Don't forget to go big and click on that bad boy to see it full size.</p>
			    Rider: Trevor Ashworth<br />
			    Age: 26<br />
			    Hometown: Orig: Albany, New York Currently: Long Beach, California<br />
			    Hookups: Volume Bikes, Demolition Parts, Micreation clothing<br /><br />
          <a href="#">Read Full Story</a>
			    <ul class="comment-options">
				    <li><a href="#">12 People have something to say</a></li>
				    <li class="last"><a href="#">Leave a comment</a></li>
				  </ul>
		    </li>
		  </ol>
	  </div>
	  
	  <div class="pagination">
	    <span class="hi">Page</span>
	    <ol>
	      <li>1</li>
	      <li>2</li>
	      <li>3</li>
	      <li>4</li>
	    </ol>
	    <span class="hi">Next 5 Entries >></span>
	  </div>

	  <div class="footer">
	    <ul class="clear">
	      <li><h3>Stay In Touch</h3>
	        <ul class="social">
	          <li class="facebook"><a href="">Facebook</a></li>
  	        <li class="twitter"><a href="http://twitter.com/TrevorAshworth">Twitter</a></li>
            <li class="myspace"><a href="">Myspace</a></li>  
    	      <li class="rss"><a href="">RSS</a></li>
	        </ul>
	      </li>
          <li><h3>Buddys</h3>
	        <ul>
	          <li><a href="">biker one</a></li>
            <li><a href="">biker two</a></li>
            <li><a href="">biker three</a></li>  
    	      <li><a href="">biker four</a></li>
    	      <li><a href="">Geoff Berger</a></li>
    	      <li><a href="http://www.erinkjones.com">Erin K. Jones</a></li>
	        </ul>
	      </li>
	       <li class="last"><h3>I don't know</h3>
	        <ul>
	          <li><a href="">one</a></li>
  	        <li><a href="">two</a></li>
            <li><a href="">three</a></li>  
    	      <li><a href="">four</a></li>
    	      <li><a href="">four</a></li>
	        </ul>
	      </li>
	    </ul>
	  </div>

	  <div class="bottom-text"> 
      <p>www.trevorashworth.com is &copy; 2009 all rights reserved. Site desiged by <a href"http://www.erinkjones.com">erin k. jones</a></p>
	  </div>
  </body>
</html>
