html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

html {
	background: #cacaca url(../images/trevor_background.jpg) top left repeat fixed;
	font:62.5% helvetica, arial, verdana, sans-serif;
	color:#000;  
}

body {
	width:600px;
	background:#cacaca;
	opacity:.9;
	margin:0 auto;
	padding-bottom:10px;
	border-right: 3px solid #7f7f7f;
	border-left: 1px solid #a5a5a5;
}

h1 {
	background: url(../images/trevor_header.jpg);
	width:575px;
	height:225px;
	text-indent:-9999px;
	padding:25px 0 0 25px;	
}

h1 a {
	display:block;
	width:550px;
	height:180px;
}

h2 {
	color:#000;
	font-weight:bold; 
	font-size: 1.8em;
	margin-bottom:10px;;
	
}

h3 {
	color:#000;
	font-weight:bold; 
	font-size: 1.4em;
	margin-bottom:10px;;
	
}

p {
	margin-bottom:15px;
}

a {	
 	color:#666;
}

a:hover {	
 	color:#999;
}

a:active {	
 	color:#333;
}

.figure {
	margin-bottom:10px;
	text-align:center;
}

.figure p  {
	color:#666;
	font-style: italic; 
	font-size:.9em;
}

.figure img  {
	border: 16px solid #464646;
}

#content {
	width:540px;
	padding:15px;
	margin-left:15px;
	font-size:1.2em;
	line-height:16px;
}

.hatom li,
.footer {
	border-top: 1px solid #8c8c8c;
	border-left: 1px solid #8c8c8c;
	border-right: 3px solid #999;
	border-bottom:3px solid #999;
}

ol.standard li *,
div.standard * {border:none;}

.hatom li {
	background:#eff8f7;
	margin:0 -15px 30px;
	padding:15px;
}

.comment-options {
	background:url(../images/coment_bubble.gif) top left no-repeat;
	margin-top:15px;
	padding:5px 0 10px 40px;
	overflow:hidden;
	display:block !important;
	display:inline-block;
	font-weight:bold; 
	font-size:1.1em;
}

.comment-options li {
	border:none;
	float:left;
	margin:0 12px 0 0;
	padding:0 10px 0 0;
	border-right:2px solid #000;
}

.comment-options li.last {
	border:none;
}

.pagination {
	background:#231f20;
	padding:.8em 0 .8em 1.3em;
	color:#fff;
	font-size: 1.6em;
}

.pagination ol, 
.pagination li {
	display:inline;
}

.clear {
	overflow:hidden;
	display:block !important;
	display:inline-block;
}

.footer {
	background:#e3e3e3 url(../images/footer_background.gif) top center no-repeat;
	margin: 45px 12px 12px 12px;
	padding:15px;

}

.footer ul {
	background:url(../images/footer_bottom_image.gif) 50% 95% no-repeat;
	font-size:1.2em;
	line-height:16px;
	min-height:266px;
	height:auto !important;
	height:266px;
}

.footer ul ul {
	background:none;
	padding:0;
	margin:0;
	margin-top:15px;
	font-size:1em;
}
.social li a {
	background:0 50% no-repeat;	
	padding:12px 0px 10px 48px;
	display:block;
}

.social .facebook a {background-image:url(../images/facebook_button2.gif);}

.social .twitter a {background-image:url(../images/twitter_button2.gif);}

.social .myspace a {background-image:url(../images/myspace_button2.gif);}

.social .rss a {background-image:url(../images/rss_button2.gif); padding-right:50px;}

.footer li {
	float:left;
	width:30%;
	padding-right:5%;
	font-size:1.1em;
	line-height: 1.5em;
}

.footer li.last {
	padding-right: 0;
	
}

.footer li ul li {
	float:none;
	width:auto;
}

.bottom-text{
	padding-top:15px;
	text-align:center;
	font-size:1.2em;
	line-height:16px;
}
